<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= "dynamiclayout.html" %>
<h1>Regular Template</h1>
<% content_for(:sidebar) do %>
<ul> <li>this text will be rendered</li> <li>and saved for later</li> <li>it may contain <%= "dynamic" %> stuff</li>
</ul>
<% end %>
<p>
Here's the regular stuff that will appear on
the page rendered by this template.
</p>

<% content_for(:footer) do %>
<div>
  this is footer
</div>
<%end%>
