<h1>RespsApi#get_resps_by_entity_id</h1>
<p>Find me in app/views/resps_api/get_resps_by_entity_id.html.erb</p>

<table>
  <tr>
  </tr>

<% @resps.each do |resp| %>
  <tr>
    <td><%= resp.username %> <br/></td>
    <td><%= resp.resp %> <br/></td>
    <td><%= resp.image %> <br/></td>
    <td><%= resp.time %> <br/></td>
  </tr>
<% end %>
</table>