<h1>Categories</h1>
<div style="padding-top:20px;">
<p>
<%= link_to "Comments", comment_categories_path, :class => "temp"%>
</p>
<p>
<%= link_to "Responses", response_categories_path, :class => "temp"%>
</p>
</div>

