<h1>Data Management</h1>
<div style="padding-top:20px;">
<p>
<%= link_to "Restore", restore_database_path, :class => "temp"%>
</p>
<p>
<%= link_to "Reset Time", reset_time_database_path, :class => "temp"%>
</p>
<p>
<%= link_to "Delete All", clear_database_path, :confirm => 'Are you sure?', :method => :delete, :class => "temp" %>
</p>
</div>