<h1>Listing resps</h1>

<table>
  <tr>
  </tr>

<% @resps.each do |resp| %>
  <tr>
    <td><%= link_to 'Show', resp %></td>
    <td><%= link_to 'Edit', edit_resp_path(resp) %></td>
    <td><%= link_to 'Destroy', resp, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New resp', new_resp_path %>